<template>
  <div>
    <span class="text-lg font-bold underline">ปิดแผนนับ</span><br />
    <span class="mx-2 font-bold">แผนนับ</span>
    <input
      type="text"
      v-model="plan_desc"
      class="border-2 border-gray-200 h-10 rounded"
    />
    <button
      type="button"
      class="mx-2 p-2 bg-yellow-400 rounded font-bold"
      @click="find(plan_desc)"
    >
      ค้นหา
    </button>
    <br />
    <div class="flex justify-center">
      <table class="table-auto border-collapse my-2">
        <thead class="">
          <th></th>
          <th class="px-2 bg-green-400 border-2 border-black">เลขที่แผนนับ</th>
          <th class="px-2 bg-green-400 border-2 border-black">
            รายละเอียดแผนนับ
          </th>
          <th class="px-2 bg-green-400 border-2 border-black">ผู้สร้าง</th>
          <th class="px-2 bg-green-400 border-2 border-black">หมายเหตุ</th>
        </thead>

        <tbody>
          <tr v-for="item in plan_data" :key="item.plan_doc">
            <td>
              <button
                type="button"
                @click="closeplan(item.plan_doc)"
                class="underline text-red-500"
              >
                ปิดแผน
              </button>
            </td>
            <td class="px-2 border-2 border-black">{{ item.plan_doc }}</td>
            <td class="px-2 border-2 border-black">{{ item.plan_desc }}</td>
            <td class="px-2 border-2 border-black">{{ user }}</td>
            <td class="px-2 border-2 border-black"></td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
import axios from "axios";
const Swal = require("sweetalert2");
const apiurl = "https://hook.zubbsteel.com/line-ci/cstock/v1";

export default {
  data() {
    return { user: "user", plan_desc: "", plan_data: [], doc: "" };
  },
  created() {
    this.getData();
  },

  methods: {
    getData() {
      axios
        .get(apiurl + "/getPlan")
        .then((response) => (this.plan_data = response.data));
    },
    async closeplan(params) {
      const { value: text } = await Swal.fire({
        input: "textarea",
        inputLabel: "ระบุเหตุผล",
        inputPlaceholder: "ระบุเหตุผลที่ต้องการปิดแผน...",
        inputAttributes: {
          "aria-label": "Type your message here",
        },
        showCancelButton: true,
      });

      if (text) {
        Swal.fire({
          title: "Are you sure?",
          text: "คุณต้องการปิดแผนนับใช่หรือไม่",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes",
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire(
              "ปิดแผนนับเรียบร้อย",
              "แผนนับถูกปิดเนื่องจาก" + text,
              "success"
            );
            console.log(params);
            axios
              .post(apiurl + "/closePlan", {
                doc: params,
              })
              .then((response) => this.getData);
          }
        });
      }
    },
    find(params) {
      if (params != "") {
        axios
          .get(apiurl + "/getPlan/" + params)
          .then((response) => (this.plan_data = response.data));
        console.log(this.plan_data.length);
      } else {
        Swal.fire("กรุณากรอกเลขที่เอกสาร", "", "warning");
      }
    },
  },
};
</script>
