<template>
  <div id="create_plan" class="flex justify-center">
    <div>
      <span class="text-lg font-bold underline">สร้างแผนนับ</span><br />

      <span class="font-bold mx-2">สร้างแผนนับ</span>
      <input
        v-model="plan_desc"
        type="text"
        class="border-2 border-gray-200 h-10 rounded"
        required
      />
      <button
        type="submit"
        @click="showAlert"
        class="mx-2 p-2 bg-green-400 rounded font-bold shadow-lg"
      >
        บันทึก
      </button>
      <button
        type="submit"
        @click="find(plan_desc)"
        class="mx-2 p-2 bg-blue-400 rounded font-bold shadow-lg"
      >
        ค้นหา
      </button>
      <br />

      <table class="table-auto border-collapse my-2">
        <thead class="bg-yellow-400">
          <th class="px-2 border-2 border-black">เลขที่แผนนับ</th>
          <th class="px-2 border-2 border-black">รายละเอียดแผนนับ</th>
          <th class="px-2 border-2 border-black">ผู้สร้าง</th>
          <th class="px-2 border-2 border-black">หมายเหตุ</th>
        </thead>

        <tbody>
          <tr v-for="item in plan_data" :key="item.plan_doc">
            <td class="border-2 border-black px-2 cursor-pointer">
              <a @click="detail(item.plan_doc)">{{ item.plan_doc }}</a>
            </td>
            <td class="border-2 border-black px-2">{{ item.plan_desc }}</td>
            <td class="border-2 border-black px-2">{{ item.created_by }}</td>
            <td class="border-2 border-black px-2"></td>
          </tr>
        </tbody>

        <tfoot></tfoot>
      </table>
    </div>
    <!-- <editP :test="this.doc" :show="true" /> -->

    <!-- <button @click="next" class="underline text-blue-500">หน้าถัดไป</button> -->
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
const axios = require("axios");
const Swal = require("sweetalert2");
const apiurl = "https://hook.zubbsteel.com/line-ci/cstock/v1";
export default {
  data() {
    return {
      user: "user",
      plan_desc: "",
      plan_data: [],
      plan_list: [],
      doc: "",
      isShow: false,
    };
  },
  methods: {
    detail(param) {
      this.doc = param;
      this.$router.push("/editplan/" + this.doc);
    },
    getData() {
      axios
        .get(apiurl + "/getPlan")
        .then((response) => (this.plan_data = response.data));
      console.log(this.plan_data);
    },
    createPlan() {
      axios
        .post(apiurl + "/createPlan", {
          plan_desc: this.plan_desc,
          user: this.user,
        })
        .then((response) => this.getData);
    },
    showAlert() {
      if (this.plan_desc.length > 0) {
        // Use sweetalert2
        Swal.fire({
          title: "คุณต้องการสร้างแผนนับใช่หรือไม่?",
          showDenyButton: true,
          showCancelButton: false,
          confirmButtonText: `Yes`,
          denyButtonText: `No`,
        }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            this.createPlan();
            Swal.fire("สร้างแผนนับสำเร็จ", "", "success");

            //document.getElementById("tt").style.display = "block";
          }
        });
      } else {
      }
    },
    find(params) {
      if (params != "") {
        axios
          .get(apiurl + "/getPlan/" + params)
          .then((response) => (this.plan_data = response.data));
        if (this.plan_data.length == 0 || this.plan_data.length != "1") {
          Swal.fire({
            icon: "error",
            title: "ขัดข้อง...",
            text: "ไม่พบเลขที่เอกสารดังกล่าว!",
            footer: "ตรวจสอบเลขที่เอกสารอีกครั้ง",
          });
          this.plan_desc = "";
        }
      } else {
        Swal.fire("กรุณากรอกเลขที่เอกสาร", "", "warning");
      }
    },
    next() {
      this.$router.push("/closeplan");
    },
    id() {
      this.$router.push("/getPlan/");
    },
  },
  created() {
    this.getData();
  },
};
</script>
<style>
.swal2-popup {
  font-size: 13px;
}
</style>
