<template>
  <div id="edp">
    <span class="text-lg font-bold underline">แก้ไขข้อมูลในแผนนับ</span>

    <div class="flex justify-center">
      <span class="font-bold mx-2 inline-block align-middle pt-3">แผนนับ</span>
      <select
        class="border-2 border-gray-200 h-10 rounded-lg mx-2 form-select mt-1 block w-40"
        v-model="selected"
        @click="select_doc()"
      >
        <option disabled value="">{{ did }}</option>
        <option v-for="item in plan_data" :key="item.plan_doc">
          {{ item.plan_doc }}
        </option>
      </select>
    </div>
    <div class="flex justify-center">
      <div
        class="flex justify-center px-8 bg-white shadow-lg rounded-lg my-4 w-3/6 pb-4 bg-gradient-to-r from-gray-300 to-gray-100"
      >
        <div class="mt-2 grid grid-cols-4 w-5/6">
          <span class="text-left">MAT</span>
          <input
            type="text"
            v-model="mat"
            class="border-2 border-gray-200 h-8 rounded-lg mx-2"
          />
          <span class="text-left">Loc.</span>
          <input
            type="text"
            v-model="loc"
            class="border-2 border-gray-200 h-8 rounded-lg mx-2"
          />
          <span class="text-left mt-2">BATCH</span>
          <input
            type="text"
            v-model="batch"
            class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
          />
          <span class="text-left mt-2">ทีม</span>
          <input
            type="text"
            class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
          />
        </div>
        <button
          @click="find(mat, loc, batch)"
          type="button"
          class="text-blue-500 underline mt-auto"
        >
          ค้นหา
        </button>
      </div>
    </div>
    <div class="flex justify-center">
      <div
        class="flex justify-center px-8 bg-white shadow-lg rounded-lg my-4 w-3/6 pb-4 bg-gradient-to-r from-gray-100 via-gray-300 to-gray-100"
        v-if="this.plan_find != ''"
      >
        <table
          class="table-auto border-collapse my-2 border-b-0 border-l-0"
          id="ta"
        >
          <perfect-scrollbar class="px-4">
            <thead class="">
              <th
                class="px-2 bg-gradient-to-b from-purple-100 to-purple-300 border-2 border-black"
              >
                Plant
              </th>
              <th
                class="px-2 bg-gradient-to-b from-purple-100 to-purple-300 border-2 border-black"
              >
                Mat Code
              </th>
              <th
                class="px-2 bg-gradient-to-b from-purple-100 to-purple-300 border-2 border-black"
              >
                Mat Desc
              </th>
              <th
                class="px-2 bg-gradient-to-b from-purple-100 to-purple-300 border-2 border-black"
              >
                Batch
              </th>
              <th
                class="px-2 bg-gradient-to-b from-purple-100 to-purple-300 border-2 border-black"
              >
                Loc.
              </th>
              <th
                class="px-2 bg-gradient-to-b from-purple-100 to-purple-300 border-2 border-black"
              >
                จำนวน
              </th>
              <th
                class="px-2 bg-gradient-to-b from-purple-100 to-purple-300 border-2 border-black"
              >
                น้ำหนัก
              </th>
            </thead>

            <tbody>
              <tr v-for="item in plan_find" :key="item.charg">
                <td class="px-2 border-2 border-black bg-white">
                  {{ item.WERKS }}
                </td>
                <td class="px-2 border-2 border-black bg-white">
                  {{ item.MATNR }}
                </td>
                <td class="px-2 border-2 border-black bg-white">
                  {{ item.WGBEZ }}
                </td>
                <td class="px-2 border-2 border-black bg-white">
                  {{ item.CHARG }}
                </td>
                <td class="px-2 border-2 border-black bg-white">
                  {{ item.LGORT }}
                </td>
                <td class="px-2 border-2 border-black bg-white"></td>
                <td class="px-2 border-2 border-black bg-white">
                  {{ item.WEIGHT }}
                </td>
                <td
                  @click="
                    addtoPlan(
                      item.CHARG,
                      item.WERKS,
                      item.MATNR,
                      item.WGBEZ,
                      item.LGORT,
                      item.WEIGHT
                    )
                  "
                  class="font-bold text-green-500 cursor-pointer"
                >
                  +
                </td>
              </tr>
            </tbody>

            <tfoot></tfoot>
          </perfect-scrollbar>
        </table>
      </div>
    </div>
    <div class="flex justify-center">
      <div
        class="px-8 bg-white shadow-lg rounded-lg my-4 pb-4 bg-gradient-to-r from-gray-100 via-gray-300 to-gray-100"
      >
        <table class="table-auto border-collapse my-2 border-b-0 border-l-0">
          <thead class="">
            <th></th>
            <th></th>
            <th
              class="px-2 bg-gradient-to-t from-green-400 to-green-100 border-2 border-black"
            >
              เลขที่แผนนับ
            </th>
            <th
              class="px-2 bg-gradient-to-t from-green-400 to-green-100 border-2 border-black"
            >
              Plant
            </th>
            <th
              class="px-2 bg-gradient-to-t from-green-400 to-green-100 border-2 border-black"
            >
              Mat Code
            </th>
            <th
              class="px-2 bg-gradient-to-t from-green-400 to-green-100 border-2 border-black"
            >
              Mat Desc
            </th>
            <th
              class="px-2 bg-gradient-to-t from-green-400 to-green-100 border-2 border-black"
            >
              Batch
            </th>
            <th
              class="px-2 bg-gradient-to-t from-green-400 to-green-100 border-2 border-black"
            >
              Loc.
            </th>
            <th
              class="px-2 bg-gradient-to-t from-green-400 to-green-100 border-2 border-black"
            >
              จำนวน
            </th>
            <th
              class="px-2 bg-gradient-to-t from-green-400 to-green-100 border-2 border-black"
            >
              น้ำหนัก
            </th>
          </thead>

          <tbody>
            <tr v-for="item in plan_list" :key="item.plan_doc">
              <td>
                <button
                  type="button"
                  class="underline text-red-500"
                  @click="openHiddenEdit"
                >
                  Edit
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="underline text-red-500"
                  @click="openHiddenDelete"
                >
                  /Delete
                </button>
              </td>
              <td class="px-2 border-2 border-black bg-white">
                {{ item.plan_doc }}
              </td>
              <td class="px-2 border-2 border-black bg-white">
                {{ item.plant }}
              </td>
              <td class="px-2 border-2 border-black bg-white">
                {{ item.matcode }}
              </td>
              <td class="px-2 border-2 border-black bg-white">
                {{ item.matdesc }}
              </td>
              <td class="px-2 border-2 border-black bg-white">
                {{ item.batch }}
              </td>
              <td class="px-2 border-2 border-black bg-white">
                {{ item.location }}
              </td>
              <td class="px-2 border-2 border-black bg-white"></td>
              <td class="px-2 border-2 border-black bg-white">
                {{ item.sap_weight }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td colspan="7" class="text-right">Total</td>
              <td class="border-2 border-black bg-white">ผลรวม</td>
              <td class="border-2 border-black bg-white">ผลรวม</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="flex justify-center">
      <div
        class="edit_one bg-gray-200 w-1/5 h-1/4 mx-2 px-2 py-2 rounded-lg"
        id="ed2"
        style="display: none"
      >
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>
              <input
                type="text"
                value=" 5R13"
                class="my-1.5 rounded shadow-lg"
              />
            </td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>
              <input type="text" value=" 70" class="my-1.5 rounded shadow-lg" />
            </td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td>
              <input
                type="text"
                value=" 2,392.20"
                class="my-1.5 rounded shadow-lg"
              />
            </td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-gray-400 rounded text-red-500 shadow-lg"
        >
ขายแล้ว 20 เส้น</textarea
        >
        <br />
        <button
          @click="saveedit"
          type="button"
          class="px-2 bg-green-400 rounded shadow-lg"
        >
          บันทึก
        </button>
        <button
          @click="cencelsave"
          type="button"
          class="mx-4 px-2 bg-red-400 rounded shadow-lg"
        >
          ยกเลิก
        </button>
        <button></button>
      </div>
    </div>
    <div class="flex justify-center">
      <div
        class="delete_one bg-gray-200 w-1/5 h-1/4 m-2 p-2 rounded-lg"
        id="dl2"
        style="display: none"
      >
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>
              <input
                type="text-red-500"
                value=" 5R13"
                class="my-1.5 rounded shadow-lg"
              />
            </td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>
              <input
                type="text-red-500"
                value=" 70"
                class="my-1.5 rounded shadow-lg"
              />
            </td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td>
              <input
                type="text-red-500"
                value=" 2,392.20"
                class="my-1.5 rounded shadow-lg"
              />
            </td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-gray-200 rounded shadow-lg"
        ></textarea>
        <br />
        <button
          @click="deletes"
          type="button"
          class="px-2 bg-green-400 rounded shadow-lg"
        >
          บันทึก
        </button>
        <button
          @click="cenceldeletes"
          type="button"
          class="mx-4 px-2 bg-red-400 rounded shadow-lg"
        >
          ยกเลิก
        </button>
      </div>
    </div>
    <input type="hidden" name="" id="number" value="" />
    <!-- <button @click="back" class="underline text-red-500">ก่อนหน้า</button>
    <button @click="next" class="mx-2 underline text-blue-500">
      หน้าถัดไป
    </button> -->
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

<script>
import { PerfectScrollbar } from "vue2-perfect-scrollbar";
const axios = require("axios");

const Swal = require("sweetalert2");
const apiurl = "https://hook.zubbsteel.com/line-ci/cstock/v1";
export default {
  data() {
    return {
      plan_data: [],
      did: this.$route.params.doc,
      plan_list: [],
      plan_find: [],
      d: "",
      selected: "",
      mat: "",
      loc: "",
      batch: "",
      new_plan: [],
      user: "user",
    };
  },
  components: {
    PerfectScrollbar,
  },
  props: {
    test: String,
    count: Number,
    show: Boolean,
    doc_id: String,
  },
  watch: {
    selected: function (af, b4) {
      if (af != b4) {
        this.select_doc(af);
      }
    },
  },
  created() {
    this.getData();
    this.getData_item();
    // console.log("เลือก->" + this.selected);
    // console.log(this.plan_list);
  },
  methods: {
    getData() {
      axios
        .get(apiurl + "/getPlan")
        .then((response) => (this.plan_data = response.data));
    },
    getData_item() {
      axios
        .get(apiurl + "/getPlan_item/" + this.did)
        .then((response) => (this.plan_list = response.data));
    },
    // get_Datalist() {
    //   // console.log(this.$route.params.doc);
    //   axios
    //     .get(apiurl + "/getPlan/" + this.$route.params.doc)
    //     .then((response) => (this.plan_list = response.data));
    // },

    saveedit() {
      Swal.fire({
        title: "ต้องการบันทึกข้อมูลการแก้ไขใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: false,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("แก้ไขข้อมูลแล้ว", "", "success");
          document.getElementById("ed2").style.display = "none";
        }
      });
    },
    cencelsave() {
      Swal.fire({
        title: "ต้องการยกเลิกการแก้ไขใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: false,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("ยกเลิกการแก้ไขข้อมูลแล้ว", "", "success");
        }
      });
    },
    deletes() {
      Swal.fire({
        title: "Delete ข้อมูล",
        text: "คุณต้องการ Delete ข้อมูลใช่หรือไม่?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire("Delete สำเร็จ!", "ลบข้อมูลเรียบร้อยแล้ว", "success");
          document.getElementById("dl2").style.display = "none";
        }
      });
    },
    cenceldeletes() {
      Swal.fire({
        title: "ต้องการยกเลิก Delete ใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: false,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("ยกเลิก Delete ข้อมูลแล้ว", "", "success");
        }
      });
    },
    openHiddenEdit() {
      document.getElementById("number").value = "1";
      if (document.getElementById("number").value == "1") {
        document.getElementById("dl2").style.display = "none";
      }
      document.getElementById("ed2").style.display = "block";
    },
    openHiddenDelete() {
      document.getElementById("number").value = "1";

      if (document.getElementById("number").value == "1") {
        document.getElementById("ed2").style.display = "none";
      }
      document.getElementById("dl2").style.display = "block";
    },
    back() {
      this.$router.push("/upload");
    },
    next() {
      this.$router.push("/report");
    },
    find(mat, loc, batch) {
      if (mat == "" && loc == "" && batch == "") {
        alert("กรอกข้อมูลอย่างน้อย 1 ช่องเพื่อค้นหา");
      } else {
        if (mat == "") {
          mat = "x";
        }
        if (loc == "") {
          loc = "x";
        }
        if (batch == "") {
          batch = "x";
        }
        axios
          .get(apiurl + "/getbyMat/" + mat + "/" + loc + "/" + batch)
          .then((response) => (this.plan_find = response.data));
      }
      // console.log(this.plan_find);
    },
    select_doc(after) {
      if (after) {
        axios
          .get(apiurl + "/getPlan_item/" + after)
          .then((response) => (this.plan_list = response.data));
      }
    },
    async addtoPlan(params, plant, mc, md, loc, wei) {
      console.log(params);
      console.log(this.plan_find.loc);
      await axios
        .post(apiurl + "/addtoPlan/", {
          plan_doc: this.did,
          batch: params,
          plant: plant,
          matcode: mc,
          matdesc: md,
          location: loc,
          weight: wei,
          user: this.user,
        })
        .then((response) => this.plan_list);
      //  console.log(this.plan_list);

      this.getData_item();
      // this.plan_list.push(this.plan_list);
    },
  },
};
</script>
<style src="vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css"></style>
<style>
.ps {
  height: 300px;
  position: sticky;
}
</style>
