<template>
  <div>
    <h2 class="mt-2">6.แก้ไขจำนวนตรวจนับสต็อก</h2>
    <div class="flex inline justify-center">
      <span class="font-bold mx-2 inline-block align-middle pt-3"
        >แผนตรวจนับ</span
      >
      <select
        class="border-2 border-gray-200 h-10 rounded-lg mx-2 form-select mt-1 block w-40"
      >
        <option>WHQ-2021-001</option>
        <option>WHQ-2021-002</option>
        <option>WHQ-2021-003</option>
      </select>
    </div>
    <div class="flex justify-center">
      <div class="mt-2 grid grid-cols-4 w-2/6">
        <span class="text-left">MAT</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left">Loc.</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left mt-2">BATCH</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
        <span class="text-left mt-2">ทีม</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
      </div>
      <button type="button" class="text-blue-500 underline mt-auto">
        ค้นหา
      </button>
      <button
        type="button"
        class="text-blue-500 underline mt-auto ml-44"
        @click="clickshowadd"
      >
        Add
      </button>
    </div>
    <div class="flex justify-center">
      <table class="table-auto border-collapse my-2 border-b-0 border-l-0">
        <thead class="">
          <th></th>
          <th></th>
          <th class="px-2 bg-green-400 border-2 border-black">เลขที่แผนนับ</th>
          <th class="px-2 bg-green-400 border-2 border-black">Plant</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Code</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Desc</th>
          <th class="px-2 bg-green-400 border-2 border-black">Batch</th>
          <th class="px-2 bg-green-400 border-2 border-black">Loc.</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวน SAP</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวนนับจริง</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวน diff</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนัก SAP</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนักจริง</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนัก diff</th>
          <th class="px-2 bg-green-400 border-2 border-black">
            ผู้สแกนป้าย Tag.
          </th>
          <th class="px-2 bg-green-400 border-2 border-black">เวลา</th>
        </thead>

        <tbody>
          <tr>
            <td>
              <button class="text-red-500 underline" @click="clickshowedit">
                Edit
              </button>
            </td>
            <td>
              <button class="text-red-500 underline" @click="clickshowdelete">
                Delete
              </button>
            </td>
            <td class="px-2 border-2 border-black">WHQ-2021-001</td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
          </tr>
          <tr class="">
            <td>
              <button class="text-red-500 underline" @click="clickshowedit">
                Edit
              </button>
            </td>
            <td>
              <button class="text-red-500 underline" @click="clickshowdelete">
                Delete
              </button>
            </td>
            <td class="border-2 border-black">WHQ-2021-002</td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8" class="text-right">Total</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="flex justify-center">
      <div class="bg-gray-200 w-80 mx-2 py-2" id="add1" style="display: none">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td class="w-36">ทีม:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุทีม"
                readonly
              />
            </td>
          </tr>
          <tr>
            <td class="w-36">Mat Code:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุ Mat Code"
                readonly
              />
            </td>
          </tr>
          <tr>
            <td class="w-36">Mat Desc:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุ Mat Desc"
                readonly
              />
            </td>
          </tr>
          <tr>
            <td>Batch:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุ Batch"
                readonly
              />
            </td>
          </tr>
          <tr>
            <td>Loc.:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุ Loc"
                readonly
              />
            </td>
          </tr>
          <tr>
            <td>จำนวน:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุจำนวน"
                readonly
              />
            </td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
          readonly
        ></textarea>
        <br />
        <button
          @click="edit"
          type="button"
          class="px-2 bg-indigo-400 rounded mx-2 w-16"
        >
          Edit
        </button>
        <button type="button" class="mx-2 px-2 bg-green-400 rounded w-16">
          บันทึก
        </button>
        <button type="button" class="mx-2 px-2 bg-red-400 rounded w-16">
          ยกเลิก
        </button>
      </div>
      <div
        class="edit_one bg-gray-200 w-1/5 mx-2 py-2"
        id="add2"
        style="display: none"
      >
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>ทีม</td>
            <td><input type="text" class="mb-1.5 text-red-500" value="1" /></td>
          </tr>
          <tr>
            <td>Mat Code</td>
            <td>
              <input
                type="text"
                class="mb-1.5 text-red-500"
                value="AGM1050060M"
              />
            </td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>
              <input
                type="text"
                class="mb-1.5 text-red-500"
                value="เหล็กฉาก 50x6.0มม(M)"
              />
            </td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>
              <input
                type="text"
                class="mb-1.5 text-red-500"
                value="8640003709"
              />
            </td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>
              <input type="text" class="mb-1.5 text-red-500" value=" 5R13" />
            </td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>
              <input type="text" class="mb-1.5 text-red-500" value=" 90" />
            </td>
          </tr>

          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded text-red-500"
        >
ป้าย Tag. ชำรุด</textarea
        >
        <br />
        <button
          @click="saveadd"
          type="button"
          class="px-2 bg-green-400 rounded"
        >
          บันทึก
        </button>
        <button
          @click="cencelsave"
          type="button"
          class="mx-2 px-2 bg-red-400 rounded"
        >
          ยกเลิก
        </button>
        <button></button>
      </div>
    </div>
    <div class="flex justify-center mt-2">
      <div class="bg-gray-200 w-1/5 h- mx-2" id="ed1" style="display: none">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>: 5R13</td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>: 90</td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td>: 2,392.20</td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button
          @click="edit"
          type="button"
          class="px-2 bg-indigo-400 rounded mx-2 w-16"
        >
          Edit
        </button>
        <button type="button" class="mx-2 px-2 bg-green-400 rounded w-16">
          บันทึก
        </button>
        <button type="button" class="mx-2 px-2 bg-red-400 rounded w-16">
          ยกเลิก
        </button>
      </div>
      <div
        class="edit_one bg-gray-200 w-1/5 h-80 mx-2"
        id="ed2"
        style="display: none"
      >
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td><input type="text" value=" 5R13" /></td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td><input type="text" value=" 70" /></td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td><input type="text" value=" 2,392.20" /></td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded text-red-500"
        >
ขายแล้ว 20 เส้น</textarea
        >
        <br />
        <button
          @click="saveedit"
          type="button"
          class="px-2 bg-green-400 rounded"
        >
          บันทึก
        </button>
        <button
          @click="cencelsave"
          type="button"
          class="mx-2 px-2 bg-red-400 rounded"
        >
          ยกเลิก
        </button>
        <button></button>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="bg-gray-200 w-1/5 h-80 mx-2" id="dl1" style="display: none">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>: 5R13</td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>: 90</td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td>: 2,392.20</td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button
          @click="deletes"
          type="button"
          class="px-2 bg-indigo-400 rounded mx-2 w-16"
        >
          Delete
        </button>
        <button type="button" class="mx-2 px-2 bg-green-400 rounded w-16">
          บันทึก
        </button>
        <button type="button" class="mx-2 px-2 bg-red-400 rounded w-16">
          ยกเลิก
        </button>
      </div>
      <div
        class="delete_one bg-gray-200 w-1/5 h-80 mx-2"
        id="dl2"
        style="display: none"
      >
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td><input type="text-red-500" value=" 5R13" /></td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td><input type="text-red-500" value=" 70" /></td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td><input type="text-red-500" value=" 2,392.20" /></td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button
          @click="deletes"
          type="button"
          class="px-2 bg-green-400 rounded"
        >
          บันทึก
        </button>
        <button
          @click="cenceldeletes"
          type="button"
          class="mx-2 px-2 bg-red-400 rounded"
        >
          ยกเลิก
        </button>
      </div>
    </div>
    <input type="hidden" name="" id="number" value="" />

    <button @click="back" class="underline text-red-500">ก่อนหน้า</button>
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
const Swal = require("sweetalert2");

export default {
  methods: {
    clickshowadd() {
      document.getElementById("number").value = "1";
      if (document.getElementById("number").value == "1") {
        document.getElementById("ed1").style.display = "none";
        document.getElementById("ed2").style.display = "none";
        document.getElementById("dl1").style.display = "none";
        document.getElementById("dl2").style.display = "none";
      }
      document.getElementById("add1").style.display = "block";
      document.getElementById("add2").style.display = "block";
    },
    clickshowedit() {
      document.getElementById("number").value = "1";

      if (document.getElementById("number").value == "1") {
        document.getElementById("add1").style.display = "none";
        document.getElementById("add2").style.display = "none";
        document.getElementById("dl1").style.display = "none";
        document.getElementById("dl2").style.display = "none";
      }
      document.getElementById("ed1").style.display = "block";
      document.getElementById("ed2").style.display = "block";
    },
    clickshowdelete() {
      document.getElementById("number").value = "1";

      if (document.getElementById("number").value == "1") {
        document.getElementById("add1").style.display = "none";
        document.getElementById("add2").style.display = "none";
        document.getElementById("ed1").style.display = "none";
        document.getElementById("ed2").style.display = "none";
      }
      document.getElementById("dl1").style.display = "block";
      document.getElementById("dl2").style.display = "block";
    },
    saveedit() {
      Swal.fire({
        title: "ต้องการบันทึกข้อมูลการแก้ไขใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("แก้ไขข้อมูลแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("ยกเลิกการแก้ไขข้อมูล", "", "info");
        }
      });
    },
    cencelsave() {
      Swal.fire({
        title: "ต้องการยกเลิกการแก้ไขใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("ยกเลิกการแก้ไขข้อมูลแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("กลับไปแก้ไขข้อมูล", "", "info");
        }
      });
    },
    deletes() {
      Swal.fire({
        title: "Delete ข้อมูล",
        text: "คุณต้องการ Delete ข้อมูลใช่หรือไม่?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire("Delete สำเร็จ!", "ลบข้อมูลเรียบร้อยแล้ว", "success");
        }
      });
    },
    cenceldeletes() {
      Swal.fire({
        title: "ต้องการยกเลิก Delete ใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("ยกเลิก Delete ข้อมูลแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("กลับไปแก้ไขข้อมูล", "", "info");
        }
      });
    },
    saveadd() {
      Swal.fire({
        title: "ต้องการบันทึกการแก้ไขใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("บันทึกข้อมูลแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("ยกเลิกการแก้ไขข้อมูล", "", "info");
        }
      });
    },
    back() {
      this.$router.push("/Report");
    },
  },
};
</script>
