<template>
  <div>
    <p>♥Test LineBOT♥</p>
    <div class="flex justify-center" v-if="this.ChatAll == ''">
      <table class="table-auto bg-green-300 w-3/6">
        <thead>
          <th class="p-2">Member List</th>
        </thead>
        <tbody class="bg-green-100">
          <tr v-for="chat in allUser" :key="chat._id">
            <td
              class="hover:bg-green-200 cursor-pointer"
              @click="getChat(chat.uid)"
            >
              <!-- <div class="grid grid-rows-2 grid-flow-col gap-4">
                <div class="row-span-2 p-2 w-20">/
                  <img
                    :src="chat.picUrl"
                    alt=""
                    class="rounded-full h-10 w-10"
                  />
                </div>
                <div class="col-span-2 w-4/6">
                  <button
                    class="font-semibold focus:outline-none p-2 w-full rounded-lg"
                  >
                    {{ chat.displayName }}
                  </button>
                </div>
                <div class="col-span-2">{{ chat.lastchat }}</div>
              </div> -->

              <div class="overflow-hidden" id="memberlist-containner">
                <div id="memberlist-body">
                  <div id="memberlist-imgage">
                    <!-- Column Content -->
                    <img :src="chat.picUrl" alt="" class="rounded-full" />
                  </div>

                  <div class="w-full overflow-hidden xl:w-1/2 grid grid-rows-2">
                    <!-- Column Content -->
                    <button
                      class="font-semibold focus:outline-none p-2 w-full rounded-lg text-left"
                    >
                      {{ chat.displayName }}
                      <!-- Notedit -->
                    </button>
                    <button
                      class="focus:outline-none p-2 w-full rounded-lg text-left"
                    >
                      55555
                    </button>
                  </div>
                </div>

                <!-- <div class="w-full overflow-hidden xl:w-1/2"> -->
                <!-- Column Content -->
                <!-- 5555
                </div> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="chatbox-containner" v-else>
      <div class="w-full bg-green-300" id="chatbox-memberlist">
        <table class="table-auto bg-green-300 w-full">
          <thead>
            <th class="p-2">Member List</th>
          </thead>
          <tbody class="bg-green-100">
            <tr v-for="chat in allUser" :key="chat._id">
              <td
                class="hover:bg-green-200 cursor-pointer"
                @click="getChat(chat.uid)"
              >
                <div class="grid grid-rows-2 grid-flow-col">
                  <div class="row-span-3 p-2 w-16">
                    <img
                      :src="chat.picUrl"
                      alt=""
                      class="rounded-full h-10 w-10 flex items-center justify-center"
                    />
                  </div>
                  <div class="col-span-2">
                    <button
                      class="text-left font-semibold focus:outline-none p-2 w-full rounded-lg"
                    >
                      {{ chat.displayName }}
                    </button>
                  </div>
                  <div class="col-span-2 text-left">{{ chat.lastchat }}</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="w-full" id="chatbox-body">
        <table class="table-auto bg-green-400 w-full">
          <thead>
            <th class="p-2 text-left">{{ this.usernow }}</th>
          </thead>
          <tbody class="bg-white">
            <tr v-for="item in chatlist" :key="item._id">
              <td v-if="item.id != '19981d5wdw589sa'">
                <div class="flex justify-inline flex-wrap">
                  <img
                    :src="item.pic"
                    alt=""
                    class="rounded-full h-8 w-8 mt-2"
                  />

                  <button
                    type="text"
                    class="bg-green-300 m-2 p-2 full focus:outline-none cursor-default rounded-lg"
                    readonly
                  >
                    {{ item.chat_data }}
                    <!-- NOTedit -->
                  </button>
                  <input
                    type="text"
                    v-model="item.time"
                    class="text-xs cursor-default focus:outline-none"
                    readonly
                  />
                </div>
              </td>
              <td class="bg-white text-right" v-else>
                <!-- NOTedit add  v-else -->
                <div class="flex-wrap">
                  <button
                    type="text"
                    class="bg-green-300 m-2 p-2 full focus:outline-none cursor-default rounded-lg text-right"
                    readonly
                  >
                    {{ item.chat_data
                    }}<!-- NOTedit -->
                  </button>
                </div>
              </td>
              <infinite-loading
                v-if="titles.length"
                spinner="spiral"
                @infinite="infiniteScroll"
              ></infinite-loading>
            </tr>
          </tbody>
          <tfoot>
            <td class="text-right">
              <input
                type="text"
                v-model="comment"
                class="text-right mt-2 mx-2 mb-1 p-1 focus:outline-none w-5/6 rounded-full"
              />
              <button
                type="submit"
                class="bg-green-300 w-12 m-1 pb-2 p-1 focus:outline-none rounded-full"
                @click="sendchat"
              >
                ส่ง
              </button>
            </td>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- <div class="flex justify-center w-full bg-gray-100 p-2">
      <div class="w-1/6 lg:w-1/6">
        <table class="a w-full table-auto">
          <thead class="5/6">
            <th class="h-10 border-b-2 border-green-200">Member List</th>
          </thead>
          <tbody class="h-full" v-if="this.ChatAll == ''">
            <tr v-for="chat in allUser" :key="chat._id">
              <td
                class="p-2 m-2 w-6/6 hover:bg-green-100 text-left cursor-pointer h-10"
              >
                <div class="grid grid-rows-2 grid-flow-col">
                  <div class="row-span-3">
                    <img
                      :src="chat.picUrl"
                      alt=""
                      class="rounded-full h-10 w-10 flex items-center justify-center"
                    />
                  </div>
                  <div class="col-span-2">
                    <button
                      class="text-left font-semibold focus:outline-none p-2 w-full rounded-lg"
                      @click="getChat(chat.uid)"
                    >
                      {{ chat.displayName }}
                    </button>
                  </div>
                  <div class="col-span-2 text-left">{{ chat.lastchat }}</div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr v-for="chat in allUser" :key="chat._id">
              <td
                class="p-2 w-6/6 h-10 cursor-pointer hover:bg-gray-200"
                @click="getChat(chat.uid)"
              >
                <div class="grid grid-rows-2 grid-flow-col p-2">
                  <div class="row-span-3">
                    <img
                      :src="chat.picUrl"
                      alt=""
                      class="rounded-full h-10 w-10 flex items-center justify-center"
                    />
                  </div>
                  <div class="col-span-2">
                    <button
                      class="text-left font-semibold focus:outline-none p-2 w-full rounded-lg"
                    >
                      {{ chat.displayName }}
                    </button>
                  </div>
                  <div class="col-span-2 text-left">{{ chat.lastchat }}</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex justify-right w-1/5">
        <table class="b table-auto w-full" v-if="this.ChatAll.length != 0">
          <thead class="w-5/6">
            <th class="text-left font-semibold px-2 py-6">
              {{ this.usernow }}
            </th>
          </thead>
          <tbody class="w-full">
            <tr v-for="item in chatlist" :key="item._id">
              <td
                class="bg-white text-left w-full"
                v-if="item.id != '19981d5wdw589sa'"
              >
                <div class="flex justify-inline">
                  <img
                    :src="item.pic"
                    alt=""
                    class="rounded-full h-8 w-8 mt-2"
                  />

                  <button
                    type="text"
                    class="bg-green-300 m-2 p-2 full focus:outline-none cursor-default rounded-lg"
                    readonly
                  >
                    {{ item.chat_data }}
                  </button>
                  <input
                    type="text"
                    v-model="item.time"
                    class="text-xs cursor-default focus:outline-none"
                    readonly
                  />
                </div>
              </td>
              <td class="bg-white text-right" v-else>
                <button
                  type="text"
                  class="bg-gray-200 m-2 p-2 full text-right cursor-default focus:outline-none rounded-lg"
                  readonly
                >
                  {{ item.chat_data }}
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <td class="text-right">
              <input
                type="text"
                v-model="comment"
                class="text-right mt-2 mx-2 mb-1 p-1 focus:outline-none w-4/6 rounded-full"
              />
              <button
                type="submit"
                class="bg-green-300 w-12 m-1 pb-2 p-1 focus:outline-none rounded-full"
                @click="sendchat"
              >
                ส่ง
              </button>
            </td>
          </tfoot>
        </table>
      </div>
    </div> -->

    <div>
      <div>
        <div v-for="title in titles" :key="title.id">
          <div class="py-2">{{ title.chat_data }}</div>
        </div>
      </div>
      <infinite-loading
        v-if="titles.length"
        spinner="spiral"
        @infinite="infiniteScroll"
      ></infinite-loading>
    </div>
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="https://unpkg.com/vue-scroll-loader"></script>

<script>
const Swal = require("sweetalert2");
const axios = require("axios");
import { PerfectScrollbar } from "vue2-perfect-scrollbar";
import InfiniteLoading from "vue-infinite-loading";
const apiurl = "http://localhost:5000/api/";
const apiurl_1 = "http://localhost:5000/";
//const user_test = ['test1','test2', 'test3'];  //Notedit rray test
export default {
  data() {
    return {
      comment: "",
      Last_ChatAll: [],
      name: "",
      user_id: "19981d5wdw589sa", //สมมุติไว้
      ChatAll: [],
      user_data: "",
      allUser: [], //Notedit array test
      usernow: "",
      mypic: "",
      idnow: "",
      pnow: "",
      time: "",
      allcount: "",
      titles: [],
      page: "",
    };
  },
  name: "Mainpage",
  async created() {
    //   this.getLastChat();
    await this.startChat();
    console.log("หน้าคือออ" + this.page);
    console.log("หน้าเดียวไม่เปลี่ยนคือ" + this.pnow);
    this.fetchChat();
    //this.getChat();
    this.getAlluser();
    console.log(this.allUser);
  },
  computed: {
    chatlist() {
      return this.ChatAll;
    },
    url() {
      //return "https://jsonplaceholder.typicode.com/posts?_page=" + this.page;
      return (
        "http://localhost:5000/scrollchat/" +
        this.page +
        "/" +
        "Ubdf8114d68ad88777d21adc1fb0149a5"
      );
    },
  },
  mounted() {
    //this.getImagesInfo();
    this.getChat();
  },
  components: {
    PerfectScrollbar,
    InfiniteLoading,
  },
  watch: {
    idnow: function (bf, at) {
      this.time = 1;
    },
  },
  methods: {
    async startChat() {
      await axios
        .get(apiurl_1 + "lastpage/" + "Ubdf8114d68ad88777d21adc1fb0149a5")
        .then(
          (response) => (
            (this.page = response.data[0].n_page),
            (this.pnow = response.data[0].n_page)
          )
        );
    },
    async fetchChat() {
      const response = await axios.get(this.url);
      this.titles = response.data;
    },
    // testIO() {
    //   const socket = io();

    //   const chat = document.querySelector(".chat-form");
    //   const Input = document.querySelector(".chat-input");

    //   chat.addEventListener("", (event) => {
    //     event.preventDefault();
    //     socket.emit("chat", Input.value);
    //     Input.value = "";
    //   });
    // },
    async fetchData() {
      const response = await axios.post(this.url, {
        uid: "Ubdf8114d68ad88777d21adc1fb0149a5",
      });
      this.titles = response.data;
      //console.log(this.titles);
    },
    infiniteScroll($state) {
      setTimeout(() => {
        this.page--;
        axios
          .get(this.url)
          .then((response) => {
            console.log(response.data);
            if (response.data.length > 1) {
              response.data.forEach((item) => this.titles.push(item));
              $state.loaded();
            } else {
              $state.complete();
            }
          })
          .catch((err) => {
            console.log(err);
          });
        if (this.page >= 6) {
          if ((this.page = this.page - 5)) {
            return false;
          }
        }
      }, 500);
    },
    async sendchat() {
      // axios.get(apiurl_1);

      const pp = await this.getpage_bot();
      //console.log(a);
      await axios
        .post(apiurl + "ok/", {
          chat_data: this.comment,
          id: this.user_id,
          to_id: this.idnow,
          n_page: pp,
        })
        .then(console.log("Send Complete"), (this.comment = ""), this.getChat())
        .catch((error) => {
          if (error.response) {
            console.log(error.response.data); // => the response payload
          }
        });

      console.log(this.ChatAll);
    },
    async getpage_bot() {
      var allcount;
      console.log("hI");
      try {
        const response = await axios.get(
          apiurl_1 +
            "allcount_inpage" +
            "/" +
            this.pnow +
            "/" +
            "Ubdf8114d68ad88777d21adc1fb0149a5"
        );
        allcount = response.data;
        // console.log(allcount.length);
        if (allcount.length >= 10) {
          //  console.log("หน้าตอนนี้คือ " + this.pnow + "จะเพิ่มไป 1");
          this.pnow = this.pnow + 1;
        }
        //console.log("หน้าที่จะเอาไปใส่คือ " + this.pnow);
        return this.pnow;
      } catch (error) {
        console.log(error);
      }
    },
    async getChat(id) {
      var i = 0;

      await axios
        .post(apiurl_1 + "getThisuser/", { uid: id })
        .then((response) => {
          (this.usernow = response.data[0].displayName),
            (this.mypic = response.data[0].picUrl),
            (this.idnow = response.data[0].uid);
        });
      if (this.time == "" || this.time == "1") {
        setTimeout(async () => {
          await axios.post(apiurl_1 + "send_uid/", { uid: id }).then(
            (response) => (
              (this.ChatAll = response.data),
              this.ChatAll.forEach((data) => {
                if (data.id == id) {
                  this.ChatAll[i].pic = this.mypic;
                } else {
                  this.ChatAll[i].pic = "";
                }
                i = i + 1;
              })
            )
          );
          // await axios
          //   .post(apiurl_1 + "lpage/", { uid: id })
          //   .then((response) => (this.pnow = response.data[0].n_page));
          // await axios
          //   .post(apiurl_1 + "send_uid/", { uid: id })
          //   .then(
          //     (response) => (this.allcount = response.data.length),
          //     (this.check_page(this.allcount), console.log(this.pnow))
          //   );

          // console.log("ทำจ้า");
          this.time = 2;
        }, 100);
      } else {
      }
      //  else if (this.time == "" && this.idnow == id) {
      //   this.time = "";
      // }
      // if (this.idnow)
      //   setTimeout(() => {
      //     this.time == "";
      //   }, 8000);
    },
    async check_page(page) {
      console.log(page);
      if (page % 10 == 0) {
        this.pnow = this.pnow + 1;
        console.log("ได้บน:" + this.pnow);
      } else {
        this.pnow = this.pnow;
        console.log("ได้ล่าง:" + this.pnow);
      }
    },
    async getAlluser() {
      var i = 0;
      try {
        const response = await axios.get(apiurl_1 + "allUser");
        this.allUser = response.data;

        this.allUser.forEach(async (data) => {
          this.allUser[i].lastchat = await this.getLastChat(data.uid);
          i = i + 1;
        });
      } catch (error) {
        console.error(error);
      }
    },
    async getLastChat(id) {
      console.log("ID is => " + id);
      var thischat;
      try {
        const response = await axios.post(apiurl_1 + "search/", { uid: id });

        thischat = response.data[0].chat_data;

        return thischat;
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>
<style>
.a {
  background-color: #6ee2b6;
}
.b {
  background-color: #bff3cc;
}
.c {
  background-color: #58d59f;
}
.ps {
  height: 350px;
  position: sticky;
  width: 100%;
}
/* Notedit css */
#memberlist-containner {
  width: 80%;
  margin: 0 auto;
}
#memberlist-body {
  display: grid;
  grid-template-columns: 45% 55%;
}
#memberlist-imgage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#memberlist-imgage img {
  margin: 10px;
  height: 2.5rem;
  width: 2.5rem;
}
#chatbox-containner {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 980px;
  margin: 0 auto;
}
#chatbox-memberlist {
  margin-left: 10px;
}
#chatbox-body {
  padding-right: 10px;
}
#container {
  width: 700px;
  margin: 0 auto;
}
.chat-input {
  width: 300px;
  height: 35px;
  border: solid 1px #444;
}
.chat-submit {
  width: 50px;
  height: 35px;
  border: solid 1px #444;
}
.chat-window {
  height: 300px;
  width: 400px;
}
#chatSection {
  float: left;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px;
}
</style>
