<template>
  <div>
    <h2 class="mt-2">5.รายงานแผนการตรวจนับ</h2>
    <div class="flex inline justify-center">
      <span class="font-bold mx-2 inline-block align-middle pt-3"
        >แผนตรวจนับ</span
      >
      <select
        class="border-2 border-gray-200 h-10 rounded-lg mx-2 form-select mt-1 block w-40"
        v-model="selected"
        @click="select_doc()"
      >
        <option value="">เลือกแผนตรวจนับ</option>
        <option v-for="item in plan_data" :key="item.plan_doc">
          {{ item.plan_doc }}
        </option>
      </select>
    </div>
    <div class="flex justify-center">
      <div class="mt-2 grid grid-cols-4 w-2/6">
        <span class="text-left">MAT</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left">Loc.</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left mt-2">BATCH</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
        <span class="text-left mt-2">ทีม</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
      </div>
      <button type="button" class="text-blue-500 underline mt-auto">
        ค้นหา
      </button>
    </div>
    <div class="flex justify-center">
      <table class="table-auto border-collapse my-2 border-b-0 border-l-0">
        <thead class="">
          <th class="px-2 bg-green-400 border-2 border-black">เลขที่แผนนับ</th>
          <th class="px-2 bg-green-400 border-2 border-black">Plant</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Code</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Desc</th>
          <th class="px-2 bg-green-400 border-2 border-black">Batch</th>
          <th class="px-2 bg-green-400 border-2 border-black">Loc.</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวน SAP</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวนนับจริง</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวน diff</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนัก SAP</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนักจริง</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนัก diff</th>
        </thead>

        <tbody>
          <tr v-for="item in plan_list" :key="item.plan_doc">
            <td class="px-2 border-2 border-black">{{ item.plan_doc }}</td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="text-right">Total</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <button @click="back" class="underline text-red-500">ก่อนหน้า</button>
    <button @click="next" class="mx-2 underline text-blue-500">
      หน้าถัดไป
    </button>
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
const Swal = require("sweetalert2");
const axios = require("axios");
const apiurl = "https://hook.zubbsteel.com/line-ci/cstock/v1";

export default {
  data() {
    return {
      plan_data: [],
      plan_list: [],
      d: "",
      selected: "",
    };
  },
  created() {
    this.getData();
  },
  watch: {
    selected: function (af, b4) {
      if (af != b4) {
        this.select_doc(af);
      }
    },
  },
  methods: {
    getData() {
      axios
        .get(apiurl + "/getPlan")
        .then((response) => (this.plan_data = response.data));
    },
    back() {
      this.$router.push("/Editplan");
    },
    next() {
      this.$router.push("/EditNumStock");
    },
    select_doc(after) {
      if (after) {
        axios
          .get(apiurl + "/getPlan/" + after)
          .then((response) => (this.plan_list = response.data));
      }
    },
  },
};
</script>
