<template>
  <div>
    <div v-if="show">
      <h2>{{ test }}</h2>
      <h3>{{ count }}</h3>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return { isShow: false };
  },
  props: {
    test: String,
    count: Number,
    show: Boolean,
  },
};
</script>

<style></style>
