<template>
  <div>
    <h2 class="mt-2">3.อัปโหลดข้อมูลสต็อกจาก SAP เข้าโปรแกรมนับสต็อก</h2>
    <div class="bg-white px-2 flex inline justify-center my-2">
      <div class="max-w-md rounded-lg overflow-hidden md:max-w-xl">
        <div class="w-44 h-10">
          <div
            class="relative border-dotted h-10 rounded-lg border-dashed border-2 border-blue-700 bg-gray-100 flex justify-center items-center"
          >
            <div class="absolute">
              <div class="flex flex-col items-center">
                <i class="fa fa-folder-open fa-4x text-blue-700"></i>
                <span class="block text-gray-400 font-normal">อัปโหลดไฟล์</span>
              </div>
            </div>
            <input
              type="file"
              class="h-full w-full opacity-0 cursor-pointer"
              name=""
            />
          </div>
        </div>
      </div>
      <input
        type="text"
        name=""
        id=""
        class="border-2 border-gray-200 h-10 rounded-lg mx-2"
      />
      <button
        type="button"
        @click="uploadplan"
        class="mx-2 p-2 bg-green-400 rounded font-bold shadow-lg hover:text-white"
      >
        ยืนยันการนำข้อมูลเข้าแผนนับ
      </button>
    </div>
    <button @click="back" class="underline text-red-500">ก่อนหน้า</button>
    <button @click="next" class="mx-2 underline text-blue-500">
      หน้าถัดไป
    </button>
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
const Swal = require("sweetalert2");

export default {
  methods: {
    uploadplan() {
      Swal.fire({
        title: "คุณต้องการนำข้อมูลเข้าแผนนับใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("นำข้อมูลเข้าแผนนับแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("ยกเลิกการนำข้อมูลเข้าแผนนับแล้ว", "", "info");
        }
      });
    },
    back() {
      this.$router.push("/closeplan");
    },
    next() {
      this.$router.push("/editplan");
    },
  },
};
</script>
